<mat-toolbar color="primary">
  <!-- <button 
  	mat-icon-button 
	color="primary" 
  	class="boton" 
	routerLink="/home"
	matTooltip="Ir a página de inicio"
	matTooltipClass="example-tooltip-uppercase">
    <mat-icon fontIcon="home"></mat-icon>
  </button> -->
  <span>Explorador Pokémon</span>
  <span class="example-spacer"></span>
  <button 
  	mat-icon-button 
	color="primary" 
	class="boton" 
	routerLink="/busca"
	matTooltip="Explorar pokémones"
	matTooltipClass="example-tooltip-uppercase">
    <mat-icon fontIcon="explore"></mat-icon>
  </button>
  <button 
  	mat-icon-button 
	color="primary" 
	class="boton" 
	routerLink="/buscar"
	matTooltip="Buscar Pokémones"
	matTooltipClass="example-tooltip-uppercase">
    <mat-icon fontIcon="search"></mat-icon>
  </button>
  <button 
  	mat-icon-button 
	color="primary" 
	class="boton" 
	routerLink="/favoritos"
	matTooltip="Favoritos"
	matTooltipClass="example-tooltip-uppercase">
    <mat-icon fontIcon="favorites"></mat-icon>
  </button>
</mat-toolbar>
