<p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="home-icon" color="primary" aria-label="Home" routerLink="/home">
        <mat-icon>home</mat-icon>
      </button>
      <span>Diccionario Pokemon</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="favorite-icon" color="primary" aria-label="Favoritos" routerLink="/favoritos">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="find-icon" color="primary" aria-label="Busqueda"routerLink="/busca">
        <mat-icon>search</mat-icon>
      </button>
    </mat-toolbar>
</p>
<router-outlet></router-outlet>