.poke-card {
    margin: 10px;
    overflow: auto;
}

.poke-type {
    color: rgba(0, 0, 0, .6);
    background: #6e6e6e;
    text-shadow: 3px 2px 3px rgba(255, 255, 255, .2);
    margin: 5px;
}

.poke-type-bug {
    color: rgba(0, 0, 0, .6);
    background: #e6ee9c;
    text-shadow: 3px 2px 3px rgba(255, 255, 255, .2);
    margin: 5px;
    padding: 2px;
}

.poke-type-dark {
    color: rgba(0, 0, 0, .6);
    background: #263238;
    text-shadow: 3px 2px 3px rgba(255, 255, 255, .2);
    margin: 5px;
    padding: 2px;
}

.poke-type-dragon {
    color: rgba(0, 0, 0, 0);
    background: #6e6e6e;
    text-shadow: 3px 2px 3px rgba(255, 255, 255, .2);
    margin: 5px;
    padding: 2px;
}

.poke-type-electric {
    color: rgba(0, 0, 0, .6);
    background: #6e6e6e;
    text-shadow: 3px 2px 3px rgba(255, 255, 255, .2);
    margin: 5px;
    padding: 2px;
}

.poke-type-fairy {
    color: rgba(0, 0, 0, .6);
    background: #6e6e6e;
    text-shadow: 3px 2px 3px rgba(255, 255, 255, .2);
    margin: 5px;
    padding: 2px;
}

.poke-type-fighting {
    color: rgba(0, 0, 0, .6);
    background: #6e6e6e;
    text-shadow: 3px 2px 3px rgba(255, 255, 255, .2);
    margin: 5px;
    padding: 2px;
}

.poke-type-fire {
    color: rgba(0, 0, 0, .6);
    background: #6e6e6e;
    text-shadow: 3px 2px 3px rgba(255, 255, 255, .2);
    margin: 5px;
    padding: 2px;
}

.poke-type-flying {
    color: rgba(0, 0, 0, .6);
    background: #6e6e6e;
    text-shadow: 3px 2px 3px rgba(255, 255, 255, .2);
    margin: 5px;
    padding: 2px;
}

.poke-type-ghost {
    color: rgba(0, 0, 0, .6);
    background: #6e6e6e;
    text-shadow: 3px 2px 3px rgba(255, 255, 255, .2);
    margin: 5px;
    padding: 2px;
}

.poke-type-grass {
    color: rgba(0, 0, 0, .6);
    background: #a5d6a7 ;
    text-shadow: 3px 2px 3px rgba(255, 255, 255, .2);
    margin: 5px;
    padding: 2px;
}

.poke-type-ground {
    color: rgba(0, 0, 0, .6);
    background: #6e6e6e;
    text-shadow: 3px 2px 3px rgba(255, 255, 255, .2);
    margin: 5px;
    padding: 2px;
}

.poke-type-ice {
    color: rgba(0, 0, 0, .6);
    background: #6e6e6e;
    text-shadow: 3px 2px 3px rgba(255, 255, 255, .2);
    margin: 5px;
    padding: 2px;
}

.poke-type-normal {
    color: rgba(0, 0, 0, .6);
    background: #6e6e6e;
    text-shadow: 3px 2px 3px rgba(255, 255, 255, .2);
    margin: 5px;
    padding: 2px;
}

.poke-type-poison {
    color: rgba(0, 0, 0, .6);
    background: #b39ddb;
    text-shadow: 3px 2px 3px rgba(255, 255, 255, .2);
    margin: 5px;
    padding: 2px;
}

.poke-type-psychic {
    color: rgba(0, 0, 0, .6);
    background: #6e6e6e;
    text-shadow: 3px 2px 3px rgba(255, 255, 255, .2);
    margin: 5px;
    padding: 2px;
}

.poke-type-rock {
    color: rgba(0, 0, 0, .6);
    background: #6e6e6e;
    text-shadow: 3px 2px 3px rgba(255, 255, 255, .2);
    margin: 5px;
    padding: 2px;
}

.poke-type-steel {
    color: rgba(0, 0, 0, .6);
    background: #6e6e6e;
    text-shadow: 3px 2px 3px rgba(255, 255, 255, .2);
    margin: 5px;
    padding: 2px;
}

.poke-type-water {
    color: rgba(0, 0, 0, .6);
    background: #6e6e6e;
    text-shadow: 3px 2px 3px rgba(255, 255, 255, .2);
    margin: 5px;
    padding: 2px;
}

.poke-inline {
    display: inline-block;
}

.poke-backgr {
    background: #1C6EA4;
    background: -moz-linear-gradient(-45deg, #1C6EA4 0%, #2388CB 50%, #144E75 100%);
    background: -webkit-linear-gradient(-45deg, #1C6EA4 0%, #2388CB 50%, #144E75 100%);
    background: linear-gradient(135deg, #1C6EA4 0%, #2388CB 50%, #144E75 100%);
}

.poke-center {
    border: 5px solid;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding: 10px;
  }