<!-- #region parametros_busqueda-->
<div class="row container main">
    <div class="contenedor col s12">
        <h2>
            <span class="title-word title-word-1">Busqueda </span>
            <span class="title-word title-word-2">de </span>
            <span class="title-word title-word-3">Pokémones</span>
              
        </h2>
    </div>

        <div class="col s4">
            <mat-form-field>
                <mat-select 
                [(ngModel)]="busquedaSelected" 
                #busquedaSeleccionada="ngModel"
                >
                    @for (tipo of tiposDeBusqueda; track tipo) {
                        <mat-option [value]="tipo">Por {{tipo | titlecase}}</mat-option>
                    }    
                </mat-select>
                <mat-label>
                    <mat-icon>pets</mat-icon> 
                    <strong> Tipo</strong>
                </mat-label>
            </mat-form-field>        
        </div>
        <!-- Busqueda por tipos -->
        @if (busquedaSeleccionada.value === "tipo") {
        <div class="col s4">
            <mat-form-field >
                <mat-select 
                [(ngModel)]="valorTipo"
                [formControl]="campoRequerido" 
                required
                >
                    <mat-option *ngFor="let tipo of tipos | async" value="{{tipo}}">
                        {{tipo | titlecase}}
                    </mat-option>
                </mat-select>
                <mat-label>
                    <mat-icon>pets</mat-icon> 
                    <strong> Tipo</strong>
                </mat-label>
                @if (campoRequerido.invalid) {
                    <mat-error>{{getErrorMessage()}}</mat-error>
                }
            </mat-form-field>
        </div>
        }
        <!-- Busqueda por grupos -->
        @if (busquedaSeleccionada.value === "especie") {
        <div class="col s4">
            <mat-form-field>
                <mat-select 
                [(ngModel)]="valorGrupo"
                [formControl]="campoRequerido" 
                required
                >
                    <mat-option *ngFor="let grupo of grupos | async" value="{{grupo}}">
                        {{grupo | titlecase}}
                    </mat-option>
                </mat-select>
                <mat-label>
                    <mat-icon>group_work</mat-icon> 
                    <strong> Grupo</strong>
                </mat-label>
                @if (campoRequerido.invalid) {
                    <mat-error>{{getErrorMessage()}}</mat-error>
                }
            </mat-form-field>
        </div>
        }
            <!-- Busqueda por naturaleza -->
        @if (busquedaSeleccionada.value === "naturaleza") {
        <div class="col s4">
            <mat-form-field>
                <mat-select 
                [(ngModel)]="valorNaturaleza" 
                [formControl]="campoRequerido" 
                required
                >
                    <mat-option *ngFor="let naturaleza of naturalezas | async" value="{{naturaleza}}">
                        {{naturaleza | titlecase}}
                    </mat-option>
                </mat-select>
                <mat-label>
                    <mat-icon>water_drop</mat-icon> 
                    <strong> Naturaleza</strong>
                </mat-label>
                @if (campoRequerido.invalid) {
                    <mat-error>{{getErrorMessage()}}</mat-error>
                }
            </mat-form-field>
        </div>
        }
        <!-- Busqueda por habilidad -->
        @if (busquedaSeleccionada.value === "habilidad") {
            <div class="col s4">
                <mat-form-field>
                    <mat-select 
                    [(ngModel)]="valorHabilidad"
                    [formControl]="campoRequerido" 
                    required
                    >
                        <mat-option *ngFor="let habilidad of habilidades | async" value="{{habilidad}}">
                            {{habilidad | titlecase}}
                        </mat-option>
                    </mat-select>
                    <mat-label>
                        <mat-icon>balance</mat-icon> 
                        <strong> Habilidad</strong>
                    </mat-label>
                    @if (campoRequerido.invalid) {
                        <mat-error>{{getErrorMessage()}}</mat-error>
                    }
                </mat-form-field>
            </div>
        }
        <!-- Busqueda por habitat -->
        @if (busquedaSeleccionada.value === "habitat") {
            <div class="col s4">
                <mat-form-field>
                    <mat-select 
                    [(ngModel)]="valorHabitat"
                    [formControl]="campoRequerido" 
                    required
                    >
                        <mat-option *ngFor="let habitat of habitats | async" value="{{habitat}}">
                            {{habitat | titlecase}}
                        </mat-option>
                    </mat-select>
                    <mat-label>
                        <mat-icon>park</mat-icon> 
                        <strong> Habitat</strong>
                    </mat-label>
                    @if (campoRequerido.invalid) {
                        <mat-error>{{getErrorMessage()}}</mat-error>
                    }
                </mat-form-field>
            </div>
        }
        <!-- Busqueda por nombre -->
        @if (busquedaSeleccionada.value === "nombre") {
            <div class="col s4">
                <mat-form-field>
                    <mat-label>Nombre del pokemon</mat-label>
                    <input 
                    matInput 
                    placeholder="pikachu" 
                    [formControl]="campoRequerido" 
                    required
                    [(ngModel)]="valorNombre">
                    @if (campoRequerido.invalid) {
                      <mat-error>{{getErrorMessage()}}</mat-error>
                    }
                  </mat-form-field>
            </div>
        }
        <!-- Boton de busqueda -->
        <div class="col s1">
            <button 
            color="primary"
            [disabled]="campoRequerido.invalid"
            (click)="onBusqueda(busquedaSeleccionada.value)"
            >
                <mat-icon>search</mat-icon>
            </button>
        </div>

    <!-- barra de progreso -->
        <mat-progress-bar mode="determinate" value="{{getProgreso() | async}}"></mat-progress-bar>
</div>

<!-- #endregion parametros_busqueda-->
<!-- #region resultado-->
<div *ngIf="despliegaResultado">
    <div class="row">
        <div class="col s4" *ngFor="let pokemon of getResultado() | async">
            <app-detalle [pokemon]="pokemon" [padre]="buscar"></app-detalle>
        </div>
    </div>
</div>
<!-- #endregion resultado-->
